.sidebar {
  padding: 0.5em 2em 0.5em 2em;
  list-style-type: none;
}
.sidebar li {
  list-style-type: none;
}
.sidebar h3 {
  margin-top: 0.5em;
}
.sidebar a {
  color: var(--color-text);
  text-decoration: var(--text-decoration);
}
.sidebar a:active,
.sidebar a:hover {
  color: var(--color-text-hover);
  text-decoration: var(--text-decoration-hover);
}
