.sidebar {
  padding: 0.5em 2em 0.5em 2em;
  list-style-type: none;
  width: 200px;
  & li {
    list-style-type: none;
    padding: 4px 0;
  }

  & h3 {
    margin-top: 0.5em;
  }

  & a {
    color: var(--color-text);
    text-decoration: var(--text-decoration);
  }

  & a:active,
  & a:hover {
    color: var(--color-text-primary);
    text-decoration: var(--text-decoration-hover);
  }
}
