table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;
  margin-bottom: 16px;
}
th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;

  &:last-child {
    border-right: 0;
  }
}
