/* Todo: Decide how to organize styling, e.g. modules, styled components, inline etc. */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color-background: white;
  --color-text: #2e2d35;
  --color-text-hover: #55b9e6;
  --font-family-main: 'PTSans-Regular', sans-serif;
  --font-family-bold: 'PTSans-Bold', sans-serif;
  --font-size-header: 20px;
  --font-size-standard: 16px;
  --text-decoration: none;
  --text-decoration-hover: underline;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-main), var(--font-family-bold);
  font-size: var(--font-size-standard);
}

.header {
  border-bottom: 1px solid black;
  padding: 0.5em 2em 0 2em;
}

.header nav {
  align-items: center;
  color: var(--color-text);
  /* Todo: Fix bottom border bug. */
  display: flex;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-header);
}
.header a {
  text-decoration: var(--text-decoration);
}
.header a:active,
.header a:hover {
  color: var(--color-text-hover);
  text-decoration: var(--text-decoration-hover);
}

main {
  padding: 1em 2em;
}

.footer {
  border-top: 1px solid black;
  padding: 1em 2em 0 2em;
  text-align: center;
}

.sidebar {
  padding: 0.5em 2em 0.5em 2em;
  list-style-type: none;
}
.sidebar li {
  list-style-type: none;
}
.sidebar h3 {
  margin-top: 0.5em;
}
.sidebar a {
  color: var(--color-text);
  text-decoration: var(--text-decoration);
}
.sidebar a:active,
.sidebar a:hover {
  color: var(--color-text-hover);
  text-decoration: var(--text-decoration-hover);
}
